.logo img {
    width: 128px;
}

header {
 display: flex;
 width: 100%;
 min-height: 64px;
 justify-content: space-around;
 border-bottom: 3px solid #064ca8;
 background-color: #fff;

}
header:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 13%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #2861ad;
    clear: both;
    
}

.menu nav ul, .social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu nav ul li, .social ul li {
    margin: 0px 12px;
}

.menu, .social {
    display: flex;
    align-items: center;
    
}

.menu a, .social a {
    text-decoration: none;
    color: black;
}
section.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat:no-repeat;
   
}
section.banner .conteudo {
    background-color: #fefefe8a;
    padding: 12px;
}

section.banner .botao {
    margin: 12px;
    background-color: #fefefe;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;
}
h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
   
}
.inputs {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 26px;
    gap: 18px;
}
.inputs textarea {
    height: 120px;
    border-radius: 30px
}

.inputs input, .inputs textarea {
    border-radius: 50px;
    border: none;
    height: 60px;
    background-color: #003652;
    color: #fefefe;
    padding: 18px;
}
div.btn{text-align: -webkit-center;}
button.btn {
    padding: 15px;
    border: none;
    cursor: pointer;
    display: block;
    float: none;
    height: 53px;
    width: 51%;
    border-radius: 40px;
    background: linear-gradient(245deg,#ffd400,#fba200);
}
body {
    color: #fff;
    background: #1e6588;
}
