h1{
    text-align: center;
    color: white;
    margin: 20px;
    height: 100px;
}
h2 {
    margin: 20px;
}
footer p {
    font-size: 10px;
    
    height: 30px;
}
p{
    margin: 28px;
}
footer{
    background-color: gray;
   
}
header{
    background-color: blue;
}



header {
    display: flex;
    width: 100%;
    min-height: 64px;
    justify-content: space-around;
    border-bottom: 3px solid #064ca8;
    background-color: #3f82db;
   
   }
   header:after {
       content: '';
       position: absolute;
       left: 50%;
       top: 13%;
       width: 0;
       height: 0;
       border-left: 8px solid transparent;
       border-right: 8px solid transparent;
       border-top: 8px solid #2861ad;
       clear: both;
       
   }